@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*globais*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mochiy Pop One", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --red:#E03920;
    --white:#fff;
    --dark:#1e1c2a;
    --orange: #ff945b;
}

body{
    color: var(--dark);
    background: #fdf7ff;
}

/* header*/

#cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 110px;
    box-shadow: 0 0.2rem 0.5rem #ccc;
    width: 100%;
    background: #7e1414;
    transition: all 0.5s;
    position: fixed;
    z-index: 3;
}

#cabecalho ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

#cabecalho ul li a{
    color: var(--white);
    font-size: 22px;
    font-weight: 700;
    transition: all 0.2s;
    font-family: 'Times New Roman', Times, serif;
}

#cabecalho ul li a:hover{
    color: #E9DBA0;
}

#logo-header{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: start;
    text-align: left;
    
}

#wpp{
    background-color: rgb(8, 207, 8);
    color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    width: 35px;
    height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10%;
    transition: all 0.5s;
}

#instagram{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    width: 35px;
    height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10%;
    transition: all 0.5s;
}

#facebook{
    color: white;
    background-color: rgb(37, 37, 253);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    width: 35px;
    height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10%;
    transition: all 0.5s;
}

#instagram:hover{
    scale: 1.3;
    rotate: 360deg;
    
}

#wpp:hover{
    scale: 1.3;
    rotate: 360deg;
    
}

#facebook:hover{
    scale: 1.3;
    rotate: 360deg;
    
}
/* botao fixado do whatsapp*/

#whatsapp-fixado #wpp-fixado{
    position: fixed;
    transition: all 0.5s ease;
    background-color: #25d366;
    display: block;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 50px;
    border-right: none;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    bottom: 20px;
    right: 20px;
    border: 0;
    z-index: 9999;
    width: 46px;
    height: 42px;
    line-height: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#whatsapp-fixado #wpp-fixado::before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    border-radius: 50%;
    -webkit-animation:pulse-border 1500ms ease-out infinite;
    animation:pulse-border 1500ms ease-out infinite;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

#whatsapp-fixado #wpp-fixado:focus{
    border: none;
    outline: none;
}

@keyframes pulse-border {

    0%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1); opacity:50%;}
    100%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5); opacity:50%;}
}


/* main */

/* home pag */

/* secao apresentacao */

.secao {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text{
    max-width: 37rem;
}

.home-text h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}

.home-text h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 4rem;
    margin-bottom: 35px;
}

.home-text p{
    margin-bottom: 4rem;
}

#home-btn{
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

#home-btn:hover{
    background: var(--white);
    box-shadow: 0 2px 15px var(--red);
    border: 1px solid var(--red);
    color: var(--red);

}

#comida-home-img{
    width: 50%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-left: 150px;
}


/* secao beneficios da alimentacao */

#btn-fale-conosco{
    background-color: #009C08;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 1px 2px rgba(0,0,0, 0.35);
}

#btn-fale-conosco a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

#lista-elementos-rosa{
    width: 100%;
    height: 200px;
    background-image: url(./imagens/Group\ 7.png);
    background-color: #FFDEDE;
    background-size: 45px;
    border-radius: 1%;
    box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.1);
}

#lista-elementos-azul{
    width: 100%;
    height: 240px;
    background-image: url(./imagens/dog-paw-hand-drawn-7d13a6\ 1.png);
    background-color: #DEF0FF;
    background-size: 20%;
    border-radius: 1%;
    box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.1);
}

#lista-elementos-amarelo{
    width: 100%;
    height: 300px;
    background-image: url(./imagens/bn-1.png);
    background-color: #FFF6DE;
    background-size: 25%;
    border-radius: 1%;
    box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.2);
}


#beneficios-slide{
    background: white;
    width: 100%;
    margin: 80px 0;
    padding: 20px;
    text-align: center;
}

.grid-imagem-lista {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
}

.beneficios-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

#list-bn{
    display: grid;
    grid-template-columns: 2fr;
}

.fale-conosco{
    padding: 5px 35px;
    background: green;
    color: var(--white);
    border-radius: 50px;
    font-size: x-large;
    transition: all 0.5s;
    align-items: center;
    margin-left: 20px;
    }

.fale-conosco:hover{
    background: var(--white);
    box-shadow: 0 2px 15px green;
    border: 2px solid green;
    color: green;
}

/* secao por que os clientes nos escolhem */

#grid-fooding-question {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.foodimg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foodimg img{
    max-width: 500px;
    width: 45vw;
}

.question{
    display: flex;
    align-items: center;
    justify-content: center;
}

.question h2{
    font-size: 35px;
    margin-bottom: 15px;
}

.q-ans{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
}

.q-ans img{
    width: 45px;
}

.q-ans div:first-child{
    padding: 10px;
    border-radius: 50%;
    height: 65px;
    text-align: center;
    background-color: white;
    margin-right: 20px;
}

.q-ans div:nth-child(2){
    display: flex;
    flex-direction: column;
}

.q-ans div:nth-child(2) p{
    margin-top: 10px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.img-cliente{
    width: 30px;
}

.text-cliente{
    margin: 2px 0 0 2px;
}

/* secao midia */

#na-midia{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 60px;
    gap: 20px;
}

.midias{
    display: flex;
    margin-top: 10px;
    text-align: center;
}

.videos{
    width: 433px;
    height: 278px;
    border-radius: 11px;
    border: 0px none rgb(0, 0, 0);
}

/* cards de transicao alimentar */

#transicao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    margin-bottom: 40px;
}

#cards{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    gap: 18px;
    width: 20%;
    height: 300px;
    padding: 40px;
    background-color: #fdf2e1;
    box-shadow: 0 0 12px 4px rgba(0,0,0, 0.15);
    position: relative;
    overflow: hidden;
}

.card-heart{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    width: 70px;
    height: 70px;
    background-color: #e9a209;
    right: -10px;
    top: -10px;
    border-radius: 0 37.5px 0 42px;
}

.transicao-description{
    color: #434343;
    text-align: center;
    font-size: 14px;
}

.fotos-racao{
    background-size: cover;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    background-image: url(./imagens/racao-peletizada-2.jpg.webp);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.35);
}

.fotos-comida{
    background-size: 100%;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    background-image: url(./imagens/bovino\ baixo\ fosforo.png);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.35);
}

/* secao testimonial */

#testimonials{
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#testimonial_chef{
    width: 500px;
    height: auto;
}

.section-title{
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
}

#testimonials #section-title{
    font-size: 3rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: start;
    margin-top: 50px;
    margin-bottom: 50px;
}


#testimonials .section-subtitle {
    font-size: 2rem;
    text-align: center;
}

#testimonials_content {
    width: 50%;
}

#feedbacks{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-avatar {
    width: 100px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content p{
    display: flex;
    justify-content: space-between;
}

.feedback-content p span{
    color: #e9a209;
}

.btn-ver-mais{
    background-color: white;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 40px;
    border: 1px solid #1e1c2a;
    transition: 2s;
    border-radius: 5px;
    margin-left: 260px;
}

.btn-ver-mais:hover{
    transform: scale(1.2);
}

.title_button{
    color: black;
}

/* footer */

.footer img{
    width: 20%;
}

.footer-conteudo .logo img{
    width: 100px;
}

.footer{
    border-top: 1px solid white;
    background-color: #7e1414;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.footer-conteudo{
    text-align: center;
}

.footer-conteudo h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--orange);   
    text-decoration: dashed;
}

.footer-conteudo img{
    width: 100px;
    margin-bottom: 5px;
}

.bfp-site{
    color: black;
}

address p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(212, 212, 212);
}

.footer-conteudo h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* responsividades */





/* features 
#heart{
    height: 30px;
    width: 30px;
    background-color: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 1s linear infinite;
    margin-bottom: 20px;
}
@keyframes heart {
    0%{ transform: rotate(-45deg) scale(1.07);}
    80%{transform: rotate(-45deg) scale(1.0);}
    100%{transform: rotate(-45deg) scale(0.8);}
}

#heart::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}

#heart::after{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}

*/